body {
  /* background: url('./img/background1.png'); */
  background: #1B1B1C;
  background-size: cover;
}

.market-container {
  width: calc(100% - 230px);
  margin-left: 230px;
}

.cases-container {
  padding: 20px;
}

