body {
  background: url('./img/background2.png'); 
  background-size: cover;
}

.market-container {
  width: calc(100% - 230px);
  margin-left: 230px;
}

.cases-container {
  padding: 20px;
}

.cases {
  display: flex;
}